
<%= render "asset/banner" %>

  <% @lists.each do |list| %>
    <p>
      <%= render "asset/list_card", list: list%>
      <%= link_to list.name, list_path(list) %>
    </p>
  <% end %>

<%= link_to "Add a new List", new_list_path %>
