<div class="banner">
  <div class="container" data-controller="typed-js">
    <h1 data-action="scroll->typed-js#connect" >Let's watch movies together!</h1>
    <p>J'offre le pop corn</p>
  </div>
</div>
