<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://static.posters.cz/image/hp/47521.jpg)">
<%= link_to list.name, list_path(list) %>
</div>
