
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://fr.web.img2.acsta.net/r_1280_720/medias/nmedia/18/35/51/06/18819959.jpg" alt="Card image cap">
  <div class="card-body">
    <%= link_to list.name, list_path(list) %>
  </div>
</div>
